* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
}
nav.navbar.navbar-expand-lg {
  margin: 0px;
  padding: 0px;
  background-color: rgb(44, 79, 67);
}
main {
  height: 82vh;
}
p {
  padding: 0;
  margin: 0;
}
td{
  vertical-align: middle;
}
.active {
  background: rgb(16, 68, 56) center bottom no-repeat;
}
a.nav-link {
  color: white !important;
}
.logo h1 {
  font-family: cursive;
  font-size: 40px;
  font-weight: 900;
  margin: 15px 0px 0px 0px;
  color: white;
}
/* nav ul li :last-child{
    padding: 0px 15px;
    border-radius: 5px;
    background-color: red;
    color: white;

} */

.test-data-inner {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

th {
  border: 1px solid gray;
  padding: 10px 20px;
}
footer {
  background-color: #2c4f43;
  color: white;
}
.footer-content {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

/* About-hero css */

.about-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: soft-light;
}
.about-bg h1 {
  font-size: 55px;
  color: white;
  text-transform: uppercase;
}
.about-bg p {
  font-size: 18px;
  color: gray;
}
